# Sagan msapi-msapi-securitycompliance.rules
# Copyright (c) 2009-2022. Quadrant Information Security <www.quadrantsec.com>
# All rights reserved.
#
# Please submit any custom rules or ideas to sagan-submit@quadrantsec.com or the sagan-sigs mailing list
#
#*************************************************************
#  Redistribution and use in source and binary forms, with or without modification, are permitted provided that the
#  following conditions are met:
#
#  * Redistributions of source code must retain the above copyright notice, this list of conditions and the following
#    disclaimer.
#  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
#    following disclaimer in the documentation and/or other materials provided with the distribution.
#  * Neither the name of the nor the names of its contributors may be used to endorse or promote products derived
#    from this software without specific prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS AS IS AND ANY EXPRESS OR IMPLIED WARRANTIES,
#  INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
#  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
#  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
#  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
#  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
#  USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#*************************************************************
#
# These rules are for the Office 365 Management API
# https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-management-apis-overview
#
# These rules work best with a JSON input map.  See the "msapi" mapping.  See the Sagan
# JSON documentation for more information
#

#alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Triggered"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertTriggered"; content:"Phish, Malicious"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5005081; rev: 3;)

#alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; content:!"Phish, Malicious"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5005082; rev: 3;)

#alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Updated"; json_content: ".Workload","AlertUpdated"; json_content: ".Operation", "AlertEntityGenerated"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; classtype: suspicious-traffic; sid:5005083; rev: 2;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Malicious Phishing"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; content:"Phish, Malicious"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012107; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Anonymous Link Created in SharePoint Online"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Anonymous Link Created in SharePoint Online"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012108; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for A potentially malicious URL click was detected"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","A potentially malicious URL click was detected"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012109; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] *Critical and Call* Alert Entity Generated for A user clicked through to a potentially malicious URL"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","A user clicked through to a potentially malicious URL"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012110; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Creation of forwarding/redirect rule"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Creation of forwarding|2f|redirect rule"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012111; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Elevation of Exchange admin privilege"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Elevation of Exchange admin privilege"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012112; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Granted Mailbox Permissions"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Granted Mailbox Permissions"; content:!"NT AUTHORITY"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012113; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] *Critical and Call* Alert Entity Generated for Messages containing malicious entity not removed after delivery"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Messages containing malicious entity not removed after delivery"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012114; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Phish delivered due to an ETR override"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Phish delivered due to an ETR override"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012115; rev:1;)

alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated for Phish delivered due to an IP allow policy"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_content:".Name","Phish delivered due to an IP allow policy"; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: set,AlertEntityGenerated,10; classtype: suspicious-traffic; sid:5012116; rev:1;)






#=============================================================================================
#		Catchall rule!  Put all normal rules above this one!!!
#=============================================================================================
alert any $HOME_NET any -> $EXTERNAL_NET any (msg: "[MSAPI-SECURITYCOMPLIANCECENTER] Alert Entity Generated (CATCHALL RULE)"; program:SecurityComplianceCenter; json_content: ".Operation", "AlertEntityGenerated"; json_meta_content:".Name",Admin|20|Submission|20|Result,Alert,DLP-High,DLP-Low,DLP-SP,eDiscovery,Elevation|20|of|20|Exchange,removed|20|after|20|delivery,Email|20|reported,Sharepoint|20|Site; json_contains; json_map: "src_ip", ".ClientIP"; json_map: "dest_ip", ".ClientIP"; json_map: "username", ".UserID"; json_map: "program",".Workload"; flexbits: isnotset,none,AlertEntityGenerated; classtype: suspicious-traffic; sid:5012117; rev:1;)
